*.cfg
*.log
data/
.idea/

/archive
*/__pycache__
*.pyc
.DS_Store

dags/utils/__pycache__/__init__.cpython-37.pyc
dags/utils/__pycache__/db_config.cpython-37.pyc
dags/utils/__pycache__/*

dist/
*.retry

.venv
.env*